<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheet/login.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div id="pg" class="h-screen w-full bg-zinc-900 p-[15px] flex justify-between">
        <div id="img" class="px-[30px] py-[20px] bg-[url('../images/eb91d91e8c01cbc2ffcd7fd45762226e.jpg')] h-full w-[48%] bg-cover object-cover rounded-[20px]">
            <div id="nav" class="flex justify-between text-white">
                <h3 class="text-3xl font-bold">CARENT</h3>
                <h3 class="text-[15px] border border-none px-[10px] py-[5px] rounded-[20px] bg-slate-500"><a href="/">back to website <i class="ri-arrow-right-line"></i></a></h3>
            </div>
            <h1 class="mt-[80%] text-4xl text-white ml-[40px] tracking-tighter">Feel the freedom of the drive.</h1>
            <div id="lines" class="flex gap-[50px] ml-[40px]">
                <div id="box" class="bg-slate-400 rounded-[30px] w-[80px] h-[8px] mt-[20px] ml-[50px]"></div>
                <div id="box" class="bg-slate-400 rounded-[30px] w-[80px] h-[8px] mt-[20px]"></div>
                <div id="box" class="bg-slate-100 rounded-[30px] w-[80px] h-[8px] mt-[20px]"></div>
            </div>
        </div>
        
        <div id="form" class="h-full w-[48%] pt-[70px] pl-[80px]">
            <h1 class="text-5xl text-white">Create an account</h1>
            <div id="login" class="flex gap-[5px]">
                <h5 class="text-slate-400 mt-[25px] ml-[10px] flex">Already have an account ?</h5>
                <h5 class="text-blue-900 mt-[25px] ml-[10px] underline underline-offset-1">Log in</h5>
            </div>
            <div id="form" class="flex gap-[40px]">
                <input type="text" name="" placeholder="First Name" class="w-[180px] h-[35px] mt-[40px] ml-[10px] bg-slate-700 px-[15px] rounded-[8px]" id="">
                <input type="text" name="" placeholder="Last Name" class="w-[180px] h-[35px] mt-[40px] ml-[10px] bg-slate-700 px-[15px] rounded-[8px]" id="">
            </div>
            <input type="email" name="" placeholder="Email" class="w-[410px] h-[35px] mt-[20px] ml-[10px] bg-slate-700 px-[15px] rounded-[8px]" id="">
            <input type="password" name="" placeholder="Enter your password" class="w-[410px] h-[35px] mt-[20px] ml-[10px] bg-slate-700 px-[15px] rounded-[8px]" id="">
            <div id="check" class="flex gap-[20px] ml-[10px] mt-[20px]">
                <input type="checkbox" name="" id="" class="ml-[10px]"><h5 class="text-[15px] text-white">I agree to the <span class="text-blue-900 underline underline-offset-1">Terms & Conditions.</span></h5>
            </div>

            <button type="submit" class="h-[40px] w-[410px] bg-blue-900 rounded-[10px] mt-[40px] ml-[10px] object-center text-white">Create account</button>

            <div id="opt" class="flex gap-[30px]">
                <div id="line" class="h-[2px] w-[120px] bg-slate-400 mt-[40px] ml-[10px]"></div>
                <h5 class="mt-[28px] text-slate-400">Or register with</h5>
                <div id="line" class="h-[2px] w-[120px] bg-slate-400 mt-[40px] ml-[10px]"></div>
            </div>

            <div id="app" class="flex gap-[72px]">
                <div id="google" class="w-[180px] h-[35px] border border-slate-400 mt-[30px] rounded-[10px] text-center pt-[3px] text-white">Google</div>
                <div id="google" class="w-[180px] h-[35px] border border-slate-400 mt-[30px] rounded-[10px] text-center pt-[3px] text-white">Apple</div>
            </div>
        </div>
    </div>
</body>
</html>